@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	#homepage h3 {
		@apply text-xl md:text-2xl xl:text-5xl;
	}

	#homepage p {
		@apply text-base md:text-lg;
	}

	#homepage section {
		@apply max-w-[1200px] mx-auto;
	}
}

.header-blur::after {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	mask: linear-gradient(to top, transparent, black 50%);
	backdrop-filter: blur(6px);
}

.hero-gradient::after {
	content: '';
	position: absolute;
	inset: 0;
	z-index: 50;
	mask: linear-gradient(to top, transparent, '#F4F1ED' 50%);
}
