@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	#homepage h3 {
		@apply text-xl md:text-2xl xl:text-5xl mb-24;
	}

	#homepage p {
		@apply text-base md:text-lg;
	}
}

.header-blur::after {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	mask: linear-gradient(to top, transparent, black 50%);
	backdrop-filter: blur(6px);
}
